@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);



/**
** 작성자 : 김승태
*
** 담당 페이지명 :  boardList.jsp
** 담당 페이지명 :  boardInsertForm.jsp
** 담당 페이지명 :  boardIntro.jsp

<font>
'noto Sans KR'
'Hanna'
'Nanum Gothic'


*/


 /***********************
   boardList.jsp
  ***********************/

.Seungtae_BoardList .block_board{background: black; word-break:keep-all;}
.Seungtae_BoardList .bg_pale{background:rgba(14, 34, 33, 0.7)}
.Seungtae_BoardList .col-sm-7{width:100%;}
.Seungtae_BoardList .title{color:white}

/* 게시판 정보 스크롤이동 */
.Seungtae_BoardList .floating{
	position: fixed; 
	right: 45%; 
	top: 20%; 
	margin-right: -800px; 
	text-align:center; 
	width: 500px; }
	
/* 게시판 라인 */
.Seungtae_BoardList .section-content .wpc-boxoffice  li {
  border-top: 2px solid #555;
}
.Seungtae_BoardList .section-content .wpc-boxoffice li:last-child {
  border-bottom: 2px solid #555;
}

/* 게시판 마지막 라인 오른쪽 끝 주황점 수정 */ 
.Seungtae_BoardList .section-content .wpc-boxoffice  li:last-child:after {
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 4px;
  margin-top: -3px;
  background: #fb802d;
  display: block;
  right: 10px;
  position: absolute;
}

/* 게시판 join 활성화 버튼 */
.Seungtae_BoardList .kst_join {
  padding: 15px 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #fb802d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  font-weight: bold;
}

/* 게시판 join 비활성화 버튼 */
.Seungtae_BoardList .kst_end {
  padding: 15px 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #777;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  pointer-events: none;
  cursor: default;
   font-weight: bold;
}

.Seungtae_BoardList .kst_join:hover {
	background-color: #fb8f46b3;
	}
.Seungtae_BoardList .kst_join:active {
  background-color: #fb8f46b3;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* join 버튼 투명 없애기 */
.Seungtae_BoardList .section-content .wpc-boxoffice .wpc-box-list li ol li.bx-item-d 
 {opacity:1}
 
/* 제목 사이즈 */ 
.Seungtae_BoardList .section-content .wpc-boxoffice .wpc-box-list .hello {
	font-family: 'noto Sans KR';
  font-size: 20px;
  font-weight: bold;
	display:block;
}

/* accordion 게시판 내용 보여주기 */
.Seungtae_BoardList .steve_panel {
	display:none;
    padding: 1px 18px;
    background-color: #00000033;
    color: white;
    /* transition: max-height 0.2s ease-out; */
    transition: width .5s cubic-bezier(.68,-.55,.265,1.55),background .5s ease;
}

.Seungtae_BoardList .steve_panel.on{display:block}

.Seungtae_BoardList p {
	margin:20px;
	text-align: center;
}

.Seungtae_BoardList .show{
	display:block !important;
} 
 
 /* 쿠폰 확인 버튼 중앙 */
.Seungtae_BoardList .myCoupon{
	padding-bottom: 20px;
	text-align: center;
}
 
.Seungtae_BoardList .kstBoardContent{
	font-size:18px;
}
 
 
 
 
 
 
 
 
 
 /***********************
   boardList.jsp
   Modal_Coupon 
  ***********************/
 
 /* The Modal (background) */
.Seungtae_BoardList .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.Seungtae_BoardList .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 35%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-du\ration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.Seungtae_BoardList .close {
    color: black;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

.Seungtae_BoardList .close:hover,
.Seungtae_BoardList .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.Seungtae_BoardList .modal-header {
    padding: 2px 16px;
    background-color: #fb8f46;
    color: white;
}

.Seungtae_BoardList .modal-body {
	padding: 5% 16px;}


 
 
 
 
 
 
  /***********************
   boardList.jsp
   Search filter 
  ***********************/
.Seungtae_BoardList 

.Seungtae_BoardList  * {
    box-sizing: border-box;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #337ab7;
    color: white;
    font-size: 13px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 0px;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}
 
     
 
 
 
 
 
 
 

 
 
 
 
 
 /**********************
  boardInsertForm.jsp 
  **********************/
  
 /* background-color */
.Seungtae_insertForm{
  background-color: black;
 }

/*  insertForm 크기 */
 .Seungtae_insertForm .col-md-6{
  width:70%;
  }
  
/*  textarea size 조절 */
.Seungtae_insertForm textarea{
	height:400px;
} 

/* text 전체 글씨 색 변경 */
.Seungtae_insertForm .inputValidation {
	color: white;
	}

/* select 수정 */
.Seungtae_insertForm select{
    background-color: #00000033;
    font-family: 'Montserrat-Light';
    text-transform: none;
    font-style: normal;
    height: 35px;
    border : 1px solid rgba(110, 110, 110, 0.68);
    color: white;
}

/* form margin-top 내리기 */
.Seungtae_insertForm footer#kst_insertBoard #widget{
  margin-top : 20%
}

/* 글쓰기 제목 폰트 */
.Seungtae_insertForm h5{
	font-family: 'Nanum Gothic';
}


/* 폼 버튼 */
.Seungtae_insertForm #kst_insertBoard .kst_btn{
	
	color:white;
}

.Seungtae_insertForm #kst_insertBoard .btn{
	float:left;
	margin: 0px;
	line-height:30px;
}

.Seungtae_insertForm #kst_insertBoard .btn_submit{
	float:right;
}




/**********************
  boardIntro.jsp
  **********************/

.boardIntro 














  