@charset "UTF-8";
@import url("Seo-Jin.css");
@import url("Seung-tae.css");
@import url("Tae-kyu.css");
@import url("Jae-kyeom.css");
@import url("common_board.css");

/* 서브 공통 */
*{margin: 0; padding: 0;}
a{text-decoration: none;}
.cf:after{display: block; content: ''; clear: both;}
.c_orange{color: #fb802d;}

.sub_content{padding: 100px 50px;}
.sub_content input{color: #333;}
.sub_content .form-control{margin: 0;}
.sub_content .form-control[readonly] {border: none; background-color: #e6e6ee 6px;}
.sub_content .btn{vertical-align: middle;}

.sub_content .sub_tit{text-align: center;}

.common_bgc{background: #e7e7e7;}
.common_fc{color: #fb802d;}

.check_txt_success{color: blue;}
.check_txt_warning{color: red;}

/* 회원가입 */
.member_join_wrap{background: url(../images/bg/bg_member_join.jpg) 0 0 no-repeat;}
.member_join_wrap label{color: #fb802d;}

/* 회원 가입/수정 완료 */
.member_complete_wrap{background: url(../images/bg/bg_member_join.jpg) 0 0 no-repeat;}
.member_complete_wrap h1 {
    margin-bottom: 42px;
    line-height: 1;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    color: #fff;
}

/* 로그인 - 모달창 */
#loginPopup{}
#loginPopup .modal-header{background: #fb802d; color: #fff;}
#loginPopup .modal-footer .btn{color: #fb802d;}

/* 마이페이지 */
.mypage_wrap{background: url(../images/bg/bg_black_rhombus.jpg) 0 0 no-repeat;}
.mypage_wrap .sub_tit{color: #fff; padding-top: 50px;}
.mypage_wrap .mypage_grid{margin-top: 30px; height: 683px; background-color: #fff;}

/* 영화결제내역 */
.mypage_wrap .mypage_grid .lft_mypage_box{color:#333;}
.mypage_wrap .mypage_grid .lft_mypage_box>ul>li{margin-bottom: 10px; border: 1px solid #dcdcdc; box-sizing:border-box; text-align: center;}
.mypage_wrap .mypage_grid .lft_mypage_box>ul>li .mypage_user_pic{}
.mypage_wrap .mypage_grid .lft_mypage_box>ul>li .mypage_user_pic img{max-width:225px; width: 100%;}
.mypage_wrap .mypage_grid .lft_mypage_box>ul>li>a{display: block; padding: 10px 0;}
.mypage_wrap .mypage_grid .lft_mypage_box>ul>li>a strong{font-size: 30px;}
.mypage_wrap .mypage_grid .rgh_mypage_box{overflow-y: scroll; height: 683px; background-color: #fff;}
.mypage_wrap .mypage_grid .rgh_mypage_box>ul>li{padding: 20px 0; border-bottom: 1px solid #000;}
.mypage_wrap .mypage_grid .rgh_mypage_box li a{display: block; color: #333;}
.mypage_wrap .mypage_grid .rgh_mypage_box li>div{float: left;}
.mypage_wrap .mypage_grid .rgh_mypage_box li .lft_img_sec{width: 30%;}
.mypage_wrap .mypage_grid .rgh_mypage_box li .lft_img_sec img{width: 100%; max-width: 91px;}
.mypage_wrap .mypage_grid .rgh_mypage_box li .mdl_txt_sec{width: 50%;}
.mypage_wrap .mypage_grid .rgh_mypage_box li .mdl_txt_sec ul{padding-top: 20px;}
.mypage_wrap .mypage_grid .rgh_mypage_box li .mdl_txt_sec .mypage_movie_tit{font-size: 24px;}
.mypage_wrap .mypage_grid .rgh_mypage_box li .rgh_btn_sec{margin-top: 20px; width: 20%; text-align: center;}
.mypage_wrap .mypage_grid .rgh_mypage_box li .rgh_btn_sec .btn_reserve_cl{}

/* 윙배너 */
.wing_banner_wrap{position:fixed; top: 100px; right: 0; width: 80px; height: 300px; border: 3px solid #fb802d; z-index: 1000;}

/* 메인 채팅창 */
#chatBox{margin-top: 56px; padding:0;}
#chatBox .mytext{
    border:0;padding:10px;background:whitesmoke;
}
#chatBox .text{
    width:75%;display:flex;flex-direction:column;
}
#chatBox .text > p:first-of-type{
    width:100%;margin-top:0;margin-bottom:auto;line-height: 13px;font-size: 12px;
}
#chatBox .text > p:last-of-type{
    width:100%;text-align:right;color:silver;margin-bottom:-7px;margin-top:auto;
}
#chatBox .text-l{
    float:left;padding-right:10px;
}        
#chatBox .text-r{
    float:right;padding-left:10px;
}
#chatBox .avatar{
    display:flex;
    justify-content:center;
    align-items:center;
    width:25%;
    float:left;
    padding-right:10px;
}
#chatBox .macro{
    margin-top:5px;width:85%;border-radius:5px;padding:5px;display:flex;
}
#chatBox .msj-rta{
    float:right;background:whitesmoke;
}
#chatBox .msj{
    float:left;background:white;
}
#chatBox .frame{
    background:#e0e0de;
    height:500px;
    overflow:hidden;
    padding:0;
}
#chatBox .frame > div:last-of-type{
    position:absolute;bottom:0;width:100%;display:flex;
}
#chatBox > div > div > div:nth-child(2) > span{
    background: whitesmoke;padding: 10px;font-size: 21px;border-radius: 50%;
}
#chatBox > div > div > div.msj-rta.macro{
    margin:auto;margin-left:1%;
}
#chatBox ul#asynMsg {
    width:100%;
    list-style-type: none;
    padding:18px;
    position:absolute;
    bottom:47px;
    display:flex;
    flex-direction: column;
    top:0;
    overflow-y:scroll;
}
#chatBox .msj:before{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:-14px;
    position:relative;
    border-style: solid;
    border-width: 0 13px 13px 0;
    border-color: transparent #ffffff transparent transparent;            
}
#chatBox .msj-rta:after{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:14px;
    position:relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: whitesmoke transparent transparent transparent;           
}  
#chatBox input:focus{
    outline: none;
}
