<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QnA">

	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM RENTAL_MOVIE_BOARD
	</select>
	
	<select id="getPointListCount" resultType="_int">
		SELECT COUNT(*) FROM RENTAL_MOVIE_BOARD WHERE RENTAL_BOARD_POINT = #{RENTAL_BOARD_POINT}
	</select>
	
	<select id="selectList" resultType="QnABoard">
		SELECT RENTAL_BOARD_TITLE,RENTAL_BOARD_DATE,RENTAL_BOARD_CONTENT,RENTAL_BOARD_NO,MB_ID,RENTAL_BOARD_POINT
		,(SELECT COUNT(*) FROM RENTAL_MOVIE_BOARD_REPLY 
		WHERE RENTAL_MOVIE_BOARD.RENTAL_BOARD_NO = RENTAL_MOVIE_BOARD_REPLY.RENTAL_BOARD_RE_NO) AS RENTAL_REPLY
		FROM RENTAL_MOVIE_BOARD ORDER BY RENTAL_BOARD_NO DESC
	</select>
	
	<select id="selectPointList" resultType="QnABoard">
		SELECT RENTAL_BOARD_TITLE,RENTAL_BOARD_DATE,RENTAL_BOARD_CONTENT,RENTAL_BOARD_NO,MB_ID,RENTAL_BOARD_POINT
		,(SELECT COUNT(*) FROM RENTAL_MOVIE_BOARD_REPLY 
		WHERE RENTAL_MOVIE_BOARD.RENTAL_BOARD_NO = RENTAL_MOVIE_BOARD_REPLY.RENTAL_BOARD_RE_NO) AS RENTAL_REPLY
		FROM RENTAL_MOVIE_BOARD WHERE RENTAL_BOARD_POINT = #{RENTAL_BOARD_POINT} ORDER BY RENTAL_BOARD_NO DESC
		
	</select>

	<select id="selectBoard" resultType="QnABoard">
		SELECT * FROM RENTAL_MOVIE_BOARD WHERE RENTAL_BOARD_NO = #{RENTAL_BOARD_NO}
	</select>

	<insert id="insertBoard" >
				INSERT INTO RENTAL_MOVIE_BOARD VALUES (
				#{RENTAL_BOARD_TITLE},SYSDATE,#{RENTAL_BOARD_CONTENT},rental_movie_board_sq.nextval,#{MB_ID},#{RENTAL_BOARD_POINT}
				)
	</insert>


	<update id="updateBoard">
		UPDATE RENTAL_MOVIE_BOARD
		SET RENTAL_BOARD_TITLE = #{RENTAL_BOARD_TITLE}, 
		RENTAL_BOARD_CONTENT = #{RENTAL_BOARD_CONTENT}
		WHERE RENTAL_BOARD_NO = #{RENTAL_BOARD_NO}
	</update>

		<delete id="deleteBoard">
		DELETE FROM RENTAL_MOVIE_BOARD WHERE RENTAL_BOARD_NO = #{RENTAL_BOARD_NO}
  	</delete> 
</mapper>