<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QnAReply">

	<select id="selectCount " resultType="_int">
		SELECT COUNT(*) FROM RENTAL_MOVIE_BOARD_REPLY
	</select>
	
	<select id="selectList" resultType="QnARelplyBoard">
		SELECT * FROM RENTAL_MOVIE_BOARD WHERE RENTAL_BOARD_NO = ${RENTAL_BOARD_NO} 
	</select>
	
	<delete id="deleteReply">
		DELETE RENTAL_MOVIE_BOARD WHERE RENTAL_BOARD_REPLY_NO  = ${RENTAL_BOARD_REPLY_NO} 
	</delete>
	
	<update id="updateReply">
		UPDATE RENTAL_MOVIE_BOARD 
		SET RENTAL_BOARD_REPLY_TITLE = ${RENTAL_BOARD_REPLY_TITLE} 
		WHERE RENTAL_BOARD_NO = ${RENTAL_BOARD_NO}
	</update>

	<insert id="insertReply">
		INSERT INTO RENTAL_MOVIE_BOARD
		VALUES(${RENTAL_BOARD_REPLY_TITLE},rental_movie_replyboard_sq.nextval,
		${RENTAL_BOARD_NO},${MB_ID},SYSDATE)
	</insert>
</mapper>