<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="paymentVO">

	
	<insert id="reserveInsert" parameterType="paymentVO">
		INSERT INTO CINEMA_RESERVE 
		VALUES('${CINEMA_NAME}','${CINEMA_SECTION}','${CINEMA_MOVIE}',
			   '${CINEMA_MOVIE_TIME}','${CINEMA_MOVIE_SEAT}','${MB_ID}',
			   '${CINEMA_RESERVE_NO}')
		
	</insert>
	
	<select id="seatList" resultType="String" parameterType="map">
		SELECT CINEMA_MOVIE_SEAT 
		  FROM CINEMA_RESERVE 
		 WHERE CINEMA_NAME= #{CINEMA_NAME}
		   AND CINEMA_MOVIE=#{CINEMA_MOVIE}
		   AND CINEMA_MOVIE_TIME=#{CINEMA_MOVIE_TIME}
		 <!-- '${CINEMA_NAME}' AND CINEMA_MOVIE='${CINEMA_MOVIE}' AND CINEMA_MOVIE_TIME='${CINEMA_MOVIE_TIME}' -->
	</select>
	
	<select id="selectMypage" resultType="paymentVO" parameterType="String">
		SELECT *
		  FROM CINEMA_RESERVE
		 WHERE MB_ID=#{MB_ID}
		 ORDER BY CINEMA_RESERVE_NO
	</select>
	<select id="selectMypageAt" resultType="paymentVO" parameterType="String">
		SELECT CINEMA_NAME,CINEMA_SECTION,
			   CINEMA_MOVIE,CINEMA_MOVIE_TIME,
			   MB_ID,CINEMA_RESERVE_NO
		  FROM CINEMA_RESERVE
		 WHERE MB_ID=#{MB_ID}
		 group by CINEMA_NAME,CINEMA_SECTION,
		          CINEMA_MOVIE,CINEMA_MOVIE_TIME,
		          MB_ID,CINEMA_RESERVE_NO
      
	</select>
	<select id="selectReserveCnt" resultType="_int" parameterType="String">
		SELECT COUNT(CINEMA_RESERVE_NO) FROM (
			SELECT CINEMA_NAME,CINEMA_SECTION,
			       CINEMA_MOVIE,CINEMA_MOVIE_TIME,
			       MB_ID,CINEMA_RESERVE_NO
		 	  FROM CINEMA_RESERVE
		     WHERE MB_ID=#{MB_ID}
		     group by CINEMA_NAME,CINEMA_SECTION,
		              CINEMA_MOVIE,CINEMA_MOVIE_TIME,
		              MB_ID,CINEMA_RESERVE_NO)
	</select>
</mapper>


