<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>		
		<typeAlias type="com.army.movieEro.member.vo.MemberVO" alias="Member"/>
		<typeAlias type="com.army.movieEro.jkNoticeBoard.vo.noticeVO" alias="noticeVO"/>
		<typeAlias type="com.army.movieEro.rentalQnA.vo.RentalQnAVO" alias="QnABoard"/>
		<typeAlias type="com.army.movieEro.rentalQnA.vo.RentalQnAReplyVO" alias="QnARelplyBoard"/>
		<typeAlias type="com.army.movieEro.stCommunity.With_board.vo.WithBoard" alias="WithBoard"/>
		<typeAlias type="com.army.movieEro.tkTheaterRental.vo.theaterImageVo" alias = "TheaterImage"/>
		<typeAlias type="com.army.movieEro.tkTheaterRental.vo.theaterVO" alias = "Theater"/>
		<!-- <typeAlias type="com.army.movieEro.stCommunity.With_board.vo.WithBoard_sub" alias="WithBoardsub"/> -->
	</typeAliases>
	
	<mappers>
 		<mapper resource="mappers/member-mapper.xml"/>
 		<mapper resource="mappers/theater-mapper.xml"/>
 		<mapper resource="mappers/notice-mapper.xml"/>
 		<mapper resource="mappers/qnaBoard-mapper.xml"/>
 		<mapper resource="mappers/qnaReplyBoard-mapper.xml"/>
 		<mapper resource="mappers/kst-with-board-mapper.xml"/>
 		<mapper resource="mappers/main-mapper.xml"/>
	</mappers>
</configuration>